<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.AddressMapper">


    <select id="getAddress" resultType="com.jk.model.Address">
        select * from t_address u
    </select>

       <delete id="delAddress" >
           DELETE  FROM t_address WHERE addid in (${ids})
       </delete>

    <insert id="addAddress" parameterType="com.jk.model.Address">
        insert into t_address
        values
        ( #{addid},
        #{addname},
        #{addphone},
        #{addprovince},
        #{addcity},
        #{addcounty},
        #{adddefault},
        #{introduction}
        )
    </insert>


    <select id="toUpdateAddress" resultType="com.jk.model.Address">
        select * from t_address where addid = #{addid}
    </select>

   <update id="updateAddress" parameterType="com.jk.model.Address">
       update t_address set
       addname = #{addname},
       addphone = #{addphone},
       addprovince = #{addprovince},
       addcity = #{addcity},
       addcounty = #{addcounty},
       adddefault = #{adddefault},
       introduction = #{introduction}
       where addid = #{addid}
   </update>
   <update id="updateAddress0" parameterType="com.jk.model.Address">
        update t_address set
       adddefault = 0
       where NOT addid = #{addid}
   </update>
   <update id="updateAddress1" parameterType="com.jk.model.Address">
        update t_address set
       adddefault = 1
       where  addid = #{addid}
   </update>
    <!--
       <select id="getCoupon" resultType="com.jk.model.Coupon">
           select * from (
           select a.*,rownum rn  from (
           select * from t_coupon u
           )a  where rownum &lt;=#{end}
           )b where b.rn &gt;#{start}
       </select>

       <select id="coudaochu" resultType="com.jk.model.Coupon">
           select * from t_coupon
       </select>-->
</mapper>