<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.CouponMapper">


    <select id="getCouponCount" resultType="long">
        select count(*) from t_coupon u
    </select>

    <select id="getCoupon" resultType="com.jk.model.Coupon">
        select * from (
        select a.*,rownum rn  from (
        select * from t_coupon u
        )a  where rownum &lt;=#{end}
        )b where b.rn &gt;#{start}
    </select>
    <delete id="delCoupon" >
        DELETE  FROM t_coupon WHERE couid in (${ids})
    </delete>
    <insert id="addCoupon" parameterType="com.jk.model.Coupon">
        insert into t_coupon
        values
        ( #{couid},
        #{begindate},
        #{enddate},
        #{introduction},
        #{isEnabled},
        #{isexchange},
        #{maximumprice},
        #{maximumquantity},
        #{minimumprice},
        #{minimumquantity},
        #{name},
        #{point},
        #{priceexpression}
        )
    </insert>
    <select id="toUpdateCoupon" resultType="com.jk.model.Coupon">
        select * from t_coupon where couid = #{couid}
    </select>

    <update id="updateCoupon" parameterType="com.jk.model.Coupon">
        update t_coupon set
          begindate = #{begindate},
          enddate = #{enddate},
          introduction = #{introduction},
          isEnabled = #{isEnabled},
          isexchange = #{isexchange},
          maximumprice = #{maximumprice},
          maximumquantity = #{maximumquantity},
          minimumprice = #{minimumprice},
          minimumquantity = #{minimumquantity},
          name = #{name},
          point = #{point},
          priceexpression = #{priceexpression}
        where couid = #{couid}
    </update>
    <select id="coudaochu" resultType="com.jk.model.Coupon">
        select * from t_coupon
    </select>
</mapper>