<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.LsMapper">

  <select id="queryUserList" resultType="com.jk.model.User">
      select * from t_user
  </select>

      <select id="queryOrderList" resultType="com.jk.model.Order">
          select * from t_order
      </select>


    <select id="queryPaymentcount" resultType="long">
      select count(*) from t_payment tp,t_order tor,t_member tm where tp.orderid=tor.orderid and tp.memberid=tm.memberid
    </select>

    <select id="queryRefundscount" resultType="long">
        select count(*) from t_refunds tr,t_order tor where tr.orderid = tor.orderid
    </select>

    <select id="queryShippingcount" resultType="long">
        select count(*) from t_shipping ts,t_deliverycorp td where ts.deliveryid=td.dcid
    </select>

    <select id="queryReturnscount" resultType="long">
        select count(*) from t_returns tr,t_order td where tr.orderid=td.orderid
    </select>



    <select id="queryPaymentList" resultType="com.jk.model.Payment">
        select * from
        (
        select a.*,rownum rn from
        (
        select tp.*,tor.ordercode,tm.username from t_payment tp,t_order tor,t_member tm where tp.orderid=tor.orderid and tp.memberid=tm.memberid
        ) a where rownum &lt;=#{end}
        ) b where b.rn &gt;#{start}
    </select>

    <select id="queryRefundsList" resultType="com.jk.model.Refunds">
        select * from
        (
        select a.*,rownum rn from
        (
        select tr.*,tor.ordercode from t_refunds tr,t_order tor where tr.orderid = tor.orderid
        )a where rownum &lt;#{end}
        )b where b.rn &gt;#{start}
    </select>

    <select id="queryShippingList" resultType="com.jk.model.Shipping">
        select * from
        (
        select a.*,rownum rn from
        (
        select * from t_shipping ts,t_deliverycorp td where ts.deliveryid=td.dcid
        )a where rownum &lt;#{end}
        )b where b.rn &gt;#{start}
    </select>

    <select id="queryReturnsList" resultType="com.jk.model.Returns">
        select * from
        (
        select a.*,rownum rn from
        (
        select tr.*,td.ordercode from t_returns tr,t_order td where tr.orderid=td.orderid
        )a where rownum &lt;#{end}
        )b where b.rn &gt;#{start}
    </select>

    <select id="queryAdminByName" resultType="com.jk.model.Admin">
        select * from t_admin where username = #{username}
    </select>


  <select id="queryProduct" resultType="com.jk.model.Product">
select sn,name,title,seotitle,marketprice,createdatetime from t_product tp,t_productimages tps where tp.productimagesid=tps.proimgeid
order by createdatetime desc
  </select>


    <select id="queryOrderAll" resultType="com.jk.model.Order">
 select tor.*,tad.username,tp.name,tp.weight from t_order tor,t_admin tad,t_product tp where tor.operatorid=tad.aid and tor.productid = tp.sn and tor.orderid=#{orderid} order by tor.createdatetime desc
     </select>

    <update id="updateStatus">
       update t_order set orderstatus = 2 where orderid = #{orderid}
    </update>

    <update id="updateOrderById">
       update t_order set offsetamount = #{offsetamount},point=#{point},freight=#{freight},paymentmethodname=#{paymentmethodname},shippingmethodname=#{shippingmethodname},consignee=#{consignee},phone=#{phone},memo=#{memo} where orderid=#{orderid}
    </update>
</mapper>