<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.PromotionMapper">


    <select id="getPromotionCount" resultType="long">
        select count(*) from t_pomotion u
    </select>

    <select id="getPromotion" resultType="com.jk.model.Promotion">
        select * from (
        select a.*,rownum rn  from (
        select * from t_pomotion u
        )a  where rownum &lt;=#{end}
        )b where b.rn &gt;#{start}
    </select>
    <delete id="delPromotion" >
        delete  from t_pomotion where proid in (${ids})
    </delete>
    <select id="getMember" resultType="com.jk.model.MemberRank">
        select * from t_memberrank
    </select>
    <select id="getpro" resultType="com.jk.model.ProductCategory">
        select * from t_productcategory
    </select>
    <select id="getBrand" resultType="com.jk.model.Brand">
        select * from t_brand
    </select>
    <insert id="addPro" parameterType="com.jk.model.Promotion">
        insert into t_pomotion
        values
        ( #{proid},
        #{begindate},
        #{enddate},
        #{introduction},
        #{iscouponallowed},
        #{isfreeshipping},
        #{maximumprice},
        #{maximumquantity},
        #{memberranksid},
        #{minimumprice},
        #{minimumquantity},
        #{pointexpression},
        #{priceexpression},
        #{productcategoriesid},
        #{proname},
        #{protitle},
        #{brandsid}
        )
    </insert>


   <select id="toUpdatePro" resultType="com.jk.model.Promotion">
        select * from t_pomotion where proid = #{proid}
    </select>

   <update id="updatePro" parameterType="com.jk.model.Promotion">
         update t_pomotion set
         begindate = #{begindate},
         enddate = #{enddate},
         introduction = #{introduction},
         iscouponallowed = #{iscouponallowed},
         isfreeshipping = #{isfreeshipping},
         maximumprice = #{maximumprice},
         maximumquantity = #{maximumquantity},
         memberranksid = #{memberranksid},
         minimumprice = #{minimumprice},
         minimumquantity = #{minimumquantity},
         pointexpression = #{pointexpression},
         priceexpression = #{priceexpression},
         productcategoriesid = #{productcategoriesid},
         proname = #{proname},
         protitle = #{protitle},
         brandsid = #{brandsid}
         where proid = #{proid}
   </update>

</mapper>