<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.SeoMapper">


    <select id="getSeoCount" resultType="long">
        select count(*) from t_seo u
    </select>

    <select id="getSeo" resultType="com.jk.model.Seo">
        select * from (
        select a.*,rownum rn  from (
        select * from t_seo u
        )a  where rownum &lt;=#{end}
        )b where b.rn &gt;#{start}
    </select>

    <select id="toUpdateSeo" resultType="com.jk.model.Seo">
        select * from t_seo where seoid = #{seoid}
    </select>

    <update id="updateSeo" parameterType="com.jk.model.Seo">
        update t_seo set
          type = #{type},
          title = #{title},
          keywords = #{keywords},
         description = #{description}
        where seoid = #{seoid}
    </update>
</mapper>