<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.TelevisionMapper">

   <select id="queryTelevisionList" resultType="com.jk.model.Product">
        select * from t_product where productcategoryid='1'
   </select>

    <select id="TVShowById" resultType="com.jk.model.Product">
        select * from t_product where sn=#{sn}
    </select>

    <insert id="insertCart">
        insert into t_cart values(#{cartid},#{userid},#{productid},1,33,#{tempprice})
    </insert>

    <select id="queryCart" resultType="com.jk.model.Cart">
        select * from t_cart where productid =#{productid}
    </select>

    <update id="addCount">
        UPDATE t_cart set quantity=quantity + 1 where cartid=#{cartid}
    </update>
    <select id="queryCartAll" resultType="com.jk.model.Cart">
        select c.*,p.marketprice,p.name,pc.title from t_cart c ,t_product p ,t_productimages pc where c.productid=p.sn and p.productimagesid=pc.proimgeid
        and userid=#{userid}
    </select>

    <update id="minusQuantity">
        update t_cart set quantity=quantity - 1 where cartid=#{cartid}
    </update>

    <update id="plusQuantity">
        update t_cart set quantity=quantity + 1 where cartid=#{cartid}
    </update>

    <delete id="delCart">
        delete t_cart where cartid = #{cartid}
    </delete>

    <select id="queeryAddress" resultType="com.jk.model.Address">
        select * from t_address where adddefault=1
    </select>

    <insert id="insertOrder">
        insert into t_order values (
             #{orderid,jdbcType=VARCHAR},
             #{address,jdbcType=VARCHAR},
             #{amountpaid,jdbcType=DOUBLE },
             #{area,jdbcType=VARCHAR},
             #{areaname,jdbcType=VARCHAR},
             #{consignee,jdbcType=VARCHAR},
             #{couponcodeid,jdbcType=VARCHAR},
             #{coupondiscount,jdbcType=VARCHAR},
             #{couponsid,jdbcType=VARCHAR},
             #{depositsid ,jdbcType=VARCHAR},
            sysdate,
              0,
             0,
             '1',
             '1',
             '1',
             sysdate,
             '1',
               #{memo,jdbcType=VARCHAR},
               #{offsetamount,jdbcType=VARCHAR},
               #{operatorid,jdbcType=VARCHAR},
               #{ordercode,jdbcType=VARCHAR},
               '1',
               '1' ,
              '1',
              '1',
           #{paymentmethodname ,jdbcType=VARCHAR},
           #{paymentsid ,jdbcType=VARCHAR},
              '1',
               #{phone,jdbcType=VARCHAR},
               333,
               #{promotion,jdbcType=VARCHAR},
               #{promotiondiscount,jdbcType=DOUBLE},
               #{refundsid,jdbcType=VARCHAR},
               #{returnsid,jdbcType=VARCHAR},
               #{shippingmethodid,jdbcType=VARCHAR},
               #{shippingmethodname,jdbcType=VARCHAR},
               #{shippingsid,jdbcType=VARCHAR},
                  '1',
                #{tax,jdbcType=DOUBLE},
                #{zipcode,jdbcType=VARCHAR},
                sysdate,
                 #{productid,jdbcType=VARCHAR}



        )
    </insert>

    <select id="queryCartById" resultType="com.jk.model.Cart">
        select * from t_cart where cartid=#{cartid}
    </select>

    <update id="updateShu">
         update t_product set stock=stock - #{quantity} where sn=#{productid}
    </update>
</mapper>